body{
       font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color :#eef1f5;
        color:#333a40
    }  
    header{
     background-color:#02a755;
     color:white;
     text-align: center;
    }
    header h1{
      font-size :36px;
      font-weight:bold;
      color:white;
    }
    h2 {
       color:#02a755;
       font-size :28px;
       font-weight:normal;
      
}
    p, li{
       font-size:17px;
    }
    footer{
       text-align: center;
       font-size:14px;
       color:#555c63 ;


    }
    footer a {
      
       color:#02a755;
       font-weight: bold;
     
    }
   main {
       width:80%;
       max-width:900px;
       margin-left:auto;
       margin-right:auto;
       background-color: white;
       padding:20px
   }
   header h1#page-title{
       font-size: 36px;
        color: white;
   }
   .hobi{
    background-color: #0dff66; /* Um azul bem clarinho */
   
}